.active {
    width: auto;
    border: 1px solid;
    padding: 2px;
    background: green;
    color: white;
    margin: 10px;
}

.default {
    width: auto;
    border: 1px solid;
    padding: 2px;
    background: rgb(0, 60, 128);
    color: white;
    margin: 10px;
}